@import url('https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap');
:root{
--branco:white;
--cor-e-fundo:#112E81;
--fundo-senha:#4647AE;
--fundo-texto:#4382Df;
--borda:#AACCD6;
--Whereasrecognition: "Whereas recognition" , Whereas recognition; 
}